appdirs==1.4.4
Appium-Python-Client==1.0.2
atomicwrites==1.4.0
attrs==21.2.0
beautifulsoup4==4.9.3
certifi==2021.5.30
chardet==4.0.0
colorama==0.4.4
configparser==5.0.2
crayons==0.4.0
decorator==5.0.9
idna==2.10
importlib-metadata==4.4.0
iniconfig==1.1.1
lxml==4.6.3
packaging==20.9
pathlib==1.0.1
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.4
pytest-html==3.1.1
pytest-metadata==1.11.0
requests==2.25.1
selenium==3.141.0
soupsieve==2.2.1
testproject-python-sdk==1.2.0
toml==0.10.2
tqdm==4.61.0
urllib3==1.26.5
webdriver-manager==3.4.2
webdrivermanager==0.10.0
zipp==3.4.1
